:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

mainContainer {
    padding: 0;
}

nav {
    padding: 0;
}

navList {
    padding: 0;
}

shipViewer {
    padding: 0;
}

figure {
    margin: 1rem;
}

figure caption{
    max-height: 20rem;
}