* {
    margin: 0;
    background-color: rgb(11, 0, 11);
    font-family:'Times New Roman', Times, serif
}

header {
    background: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif") center;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: darkblue;
    color: white;
    font-size: large;
}

main {
    margin: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

img {
    max-height: 20rem;
    display: flex;
    justify-content: center;
    border: solid 1rem;
}

figCaption {
    padding: 0.5rem;
    text-align: center;
    font-size: large;
    color: white;
    background-color: darkblue;
    border: solid black .4rem;
}

.rainbow {
	background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}