:root {
    --main-white: white;
    --main-pink: rgb(243, 174, 185);
    --main-purple: mediumslateblue;
    --main-black: black;
}

* {
    margin: 0%;
    padding: 0%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--main-pink);
}

#navbar {
    background-color: var(--main-black);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

.nav-list a {
    padding: 1rem;
    display: block;
    font-size: xx-large;
}

.nav-list a:hover {
    text-decoration: none;
    color: var(--main-purple);
    background-color: var(--main-white);
}

#welcome-section {
    background-color: var(--main-purple);
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

h3 {
    padding: 3.5rem;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2.25rem;
    color: var(--main-white);
    align-items: center;
}

h4 {
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: var(--main-white);
}
ul {
    display: flex;
    list-style-type: none ;
}

li {
    margin-left: 1rem;
}

#about {
    background-color: var(--main-pink);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    border-bottom: 4px solid var(--main-white);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-pink);
}

.project-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-purple);
    padding: 2rem;
}

.contact-link {
    display: flex;
    padding: 2rem;
}

.contact-link a {
    display: block;
    padding: 2rem 3rem;
    font-size: xx-large;
}

figure {
    margin: 2rem;
}

figure img {
    width: 20rem;
}

figcaption {
    text-align: center;
    border-radius: 2px 2px 6px 6px;
    font-size: x-large;
    color: var(--main-white);
    background-color: var(--main-purple);
}

.contact-info {
    transform: transform 0.5s ease-out;
}

.contact-info:hover {
    transform: translateY(10px);
}

footer {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--main-purple);
    border-top: 8px solid var(--main-black);
}

@media (max-width: 75cm) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 60cm) {
    html {
        font-size: 70%;
    }
}