* {
    box-sizing: border-box;
}

body {
    background-color: rgb(65, 65, 65);
}

.mainContainer {
    display: flex;
}

.box {
    font-size: xx-large;
    text-align: center;
}

ul {
    margin: 1rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    min-width: 16rem;
}

.navList {
    padding: 0;
}

.shipViewer {
    padding: 0;
}

shipViewer img {
    padding: 5rem;
}

figure {
    margin: 1rem;
}

figure caption{
    max-height: 20rem;
}