* {
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    font-size: xx-large;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(65, 65, 65);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
}

.shipViewer {
    margin: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.box {
    font-size: xx-large;
    text-align: center;
}

.nav {
   min-width: 16rem;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    border: solid darkblue .5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
    margin: .5rem 1.5rem .5rem 1.5rem
}