* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 43, 24);
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene {
    width: 200px;
    height: 260px;
    margin: .5em;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    text-transform: capitalize;
    position: relative;
    border: solid gold .5rem;
    border-radius: 5px;
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.back {
    padding: 0.5rem;
    background: rgb(96, 118, 189);
    transform: rotateY(180deg);
    text-align: center;
    
}

 ul {
    display: flex;
    flex-wrap: wrap;
}


figure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

figure img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid gold;
    background-color: whitesmoke;
}

figcaption {
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: x-large;
}