* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: xx-large;
    margin: 9rem 1.5rem 1.5rem 1.5rem;
    border: solid gold 3px;
    padding: 1rem;
}

h2 {
    font-size: large;
    margin-bottom: .25rem;
}

header {
    height: 300px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

body {
    background: url("https://media.giphy.com/media/7T200DTPdx31e/giphy.gif") top repeat-x;
    background-color: rgb(59, 43, 24);
}

button {
    width: 10rem;
    height: 4rem;
    margin: 1.5rem;
    border-radius: 5px;
    background-color: firebrick;
    color: white;
    font-size: large;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene {
    width: 200px;
    height: 260px;
    margin: .5em;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    text-transform: capitalize;
    position: relative;
    border: solid gold .5rem;
    border-radius: 5px;
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.back {
    padding: 0.5rem;
    background: rgb(96, 118, 189);
    transform: rotateY(180deg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

ul {
   text-align: start;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

figure img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid gold;
    background-color: whitesmoke;
}

figcaption {
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: large;
}