* {
    margin: 0;
    font-family:'Times New Roman', Times, serif
}

header {
    background-color: rgb(200, 200, 200);
    padding: 2rem;
    display: flex;
}

h1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 10rem;
    height: 4.5rem;
    margin: 1rem;
    background-color: rgb(16, 16, 72);
    color: white;
    font-size: large;
}

figure {
    margin: 1rem;
}

img {
    max-height: 100%;
    display: flex;
    justify-content: center;
    border: solid 1rem;
}

figCaption {
    padding: 0.5rem;
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgb(16, 16, 72);
    border: solid black .4rem;
}

.listsDiv {
    display: flex;
    flex-wrap: wrap;
}
.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
}