* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(11, 0, 11);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif") center;
    padding: 4rem;
}

h1 {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

img {
    max-height: 20rem;
    display: flex;
    justify-content: center;
    border: solid 1rem;
}

figCaption {
    padding: 0.5rem;
    text-align: center;
    font-size: large;
    color: white;
    background-color: darkblue;
    border: solid black .4rem;
}